name: Android CI

on:
  push:
    branches:
      - main
      - develop
      - 'feature/**'
  pull_request:
    branches:
      - main
      - develop
      - 'feature/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Install Android SDK
        uses: android-actions/setup-android@v3

      - name: Cleanup old Room schemas
        run: rm -rf app/schemas

      - name: Create env.properties file
        run: |
          echo "BASE_URL_DEV=${{ secrets.BASE_URL_DEV }}" >> env.properties
          echo "BASE_URL_PROD=${{ secrets.BASE_URL_PROD }}" >> env.properties
          echo "GOOGLE_MAPS_API_KEY=${{ secrets.GOOGLE_MAPS_API_KEY }}" >> env.properties
          echo "${{ secrets.GOOGLE_SERVICES_JSON }}" | base64 --decode > app/google-services.json


      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build project
        run: ./gradlew build --stacktrace

      - name: Run unit tests
        run: ./gradlew test
